/* 
 * ==============================
   All The Variables Here
 * ==============================  
*/
// Light Theme Variables
$theme-light-primary: #39a7ff;
$theme-light-secondary: #535d6d;
$theme-light-accent: #a7a7a7;
$theme-light-gray-black: #4d4d4d;
$theme-light-gray-dark: #616161;
$theme-light-suceess: #40d06a;
$theme-light-white: #fff;
$theme-light-white-dark: #eaeaea;
