@import 'base/variables.scss';
@import 'base/typography.scss';

/*------------------------------------------------------------------
  Members Page CSS
------------------------------------------------------------------*/
.wrapper {
    width: 1680px !important;
    margin: 0 auto;
    padding: 1.5rem;
    .text-secondary-accent {
        color: $theme-light-secondary;
    }
}
