@import 'base/variables.scss';
@import 'base/typography.scss';

/*------------------------------------------------------------------
  Members Page CSS
------------------------------------------------------------------*/
.wrapper {
    width: 1680px !important;
    margin: 0 auto;
    padding: 1.5rem;
    .text-secondary-accent {
        color: $theme-light-secondary;
    }
    .container-fluid {
        // Top bar CSS
        .top-bar {
            .member-tabs {
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 10px;
                .nav-link {
                    padding: 0.5rem 1rem;
                    border-radius: 0;
                    border-bottom: 2px solid transparent;
                    text-transform: uppercase;
                    color: $theme-light-secondary;
                    &.active {
                        border-bottom: 2px solid $theme-light-primary;
                        color: $theme-light-primary;
                    }
                }
            }
            .search-bar {
                .form-group {
                    min-width: 300px;
                }
                .has-search {
                    position: relative;
                    .form-control-lg {
                        font-size: 1rem !important;
                    }
                    .form-control {
                        padding-left: 2.775rem;
                        border-radius: 25px;
                    }
                    .form-control-feedback {
                        position: absolute;
                        z-index: 2;
                        display: block;
                        width: 3.375rem;
                        height: 3.375rem;
                        line-height: 3.875rem;
                        text-align: center;
                        pointer-events: none;
                        color: $theme-light-secondary;
                    }
                    .icon-gray {
                        color: $theme-light-secondary;
                    }
                }
            }
        }
        // Filter Bar CSS
        .filter-bar {
            .gap-5 {
                gap: 20px;
                .form-group.w-30 {
                    width: 30% !important;
                }
            }
            .button-primary {
                background: $theme-light-primary;
                color: $theme-light-white;
                border-color: $theme-light-primary;
            }
        }
        // Members table CSS
        .main-content {
            .container-table100 {
                width: 100%;
                background: $theme-light-white;
                .wrap-table100 {
                    width: 100%;
                }
                .table100 {
                    background-color: $theme-light-white;
                    position: relative;
                    padding-top: 60px;
                    border-radius: 10px;
                    overflow: hidden;
                    .table100-head {
                        position: absolute;
                        width: 100%;
                        top: 0;
                        left: 0;
                        th {
                            padding-top: 18px;
                            padding-bottom: 18px;
                        }
                    }
                    table {
                        width: 100%;
                    }
                    th,
                    td {
                        font-weight: unset;
                        padding-right: 10px;
                    }
                    td {
                        font-size: 15px;
                        color: $theme-light-gray-dark;
                        line-height: 1.4;
                    }
                    th {
                        font-size: 18px;
                        line-height: 1.4;
                        color: $theme-light-gray-black;
                        border-bottom: 1px solid #e6e6e6;
                    }

                    .column1 {
                        width: 22%;
                        padding-left: 15px;
                    }

                    .column2 {
                        width: 10%;
                    }

                    .column3 {
                        width: 10%;
                    }

                    .column4 {
                        width: 20%;
                    }

                    .column5 {
                        width: 13%;
                    }
                    .column6 {
                        width: 13%;
                    }
                    .column7 {
                        width: 8%;
                        padding-right: 15px;
                    }

                    .table100-body {
                        min-height: 50vh;
                        overflow: hidden;
                        tr {
                            .edit-icon {
                                display: none;
                            }
                            &:hover {
                                .edit-icon {
                                    display: inline;
                                    cursor: pointer;
                                }
                            }
                        }
                        tr:nth-child(even) {
                            background-clip: padding-box;
                            background-color: $theme-light-white-dark;
                        }
                        td {
                            padding-top: 18px;
                            padding-bottom: 18px;
                            .text-accent {
                                color: $theme-light-accent !important;
                            }
                            &:hover {
                                color: $theme-light-primary !important;
                                .text-accent {
                                    color: $theme-light-primary !important;
                                }
                            }
                            &:first-child {
                                &:hover {
                                    color: $theme-light-gray-dark !important;
                                }
                            }
                        }
                    }
                }
                .no-members {
                    height: 400px;
                }
            }
        }
    }
}
